
    <Div>
    <body>
        <h1>Cadastro de Alunos</h1>
        <p>Quantidade de Alunos: {{valorInicial}}</p>
    </body>

    <form class="basic">
        <!-- <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Company (disabled)</mat-label>
          <input matInput disabled value="Google">
        </mat-form-field> -->
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Primeiro Nome</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sobrenome</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>
      
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Curso</mat-label>
            <textarea matInput placeholder="Ex. 100 Main St">Digite as Observações</textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </p>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Ex. San Francisco">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Ex. California">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
          </mat-form-field></td>
        </tr></table>
      </form>
      <button click="submit">Cadastrar</button>
      

</Div>

